* {
	@include box-sizing( border-box );
}

img {
	max-width: 100%;
	height: auto;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

.main-content {
	height: 100%;
	text-align: center;
	
	&,
	.grids,
	section {
		height: 100%;
	}
	
	.score {
		color: rgba( $font-color, .6 );
		font-size: 10em;
		line-height: 2;
	}
}