* {
	@include box-sizing( border-box );
}

img {
	max-width: 100%;
	height: auto;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

.main-content {
	height: 100%;
	text-align: center;
	
	&,
	.grids,
	section {
		height: 100%;
	}
	
	.score {
		color: rgba( $font-color, .6 );
		font-size: 10em;
		line-height: 2;
		
		&::before {
			content: '';
			display: inline-block;
			width: 1px;
			height: 100%;
			margin: -.6em 0 0 -.25em;
			vertical-align: middle;
		}
	}
}